<div class="row">
    <div ng-repeat-start="event in eventList.events">
    </div>
    <div class="col-sm-6 col-md-3" tabindex="0">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><Strong>{{event.name}}</Strong></h3>
            </div>
            <div class="panel-body">
                <p><strong>Host: </strong>{{event.host}}</p>
                <p><strong>Type: </strong>{{event.type}}</p>
                <p>at: {{event.location}}</p>
                <p>from: {{event.start}}</p>
                <p>to: {{event.end}}</p>
                <p><strong>Message to guests: </strong>{{event.message}}</p>
                <p><strong>Guests: </strong>{{event.guest}}</p>
            </div>
        </div>
    </div>

    <div class="clearfix visible-md-block" ng-if="$index%4==3"></div>
    <div class="clearfix visible-lg-block" ng-if="$index%4==3"></div>
    <div class="clearfix visible-sm-block" ng-if="$index%2==1"></div>
    <div ng-repeat-end>
    </div>
</div>